<div class="container">
    <div class="row">
        <h1 class="page-header">Lorem ipsum dolor.</h1>
    </div>
    <section>
        <div class="sidebar">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, recusandae.</div>
        <div class="body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi esse omnis eum, fugiat. Odit cum eveniet doloremque repudiandae nulla itaque eligendi voluptas dolor dolores facilis, odio culpa corporis quis officiis.</div>
    </section>
    <div class="row">
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum totam, sit maxime cumque. Quia, recusandae.</p>
    </div>
    <div class="row">
        <h1 class="page-header">Lorem ipsum dolor sit amet.</h1>
    </div>
</div>