.container {
    .item {
        @include make-sm-column(12);
        @include make-md-column(6);
    }
}

@font-face {
    font-family: slamby-logo;
    src: url(slamby-logo.woff);
}

section.header {
    background: #2e7bcf url(./images/header.jpg) 0 0 repeat-x;
    position: relative;
    top:-50px;
    height: 700px;

    .message {
        @include make-row();
        .head {
            @include make-md-column(8);
            @include make-xs-column(12);
            position: relative;
            top:160px;
            h1 {
                color: white;
                font-size: 50px;
            }
            p.lead {
                color: white;
            }
            a.btn-default {
                background-color: transparent !important;
                border-color: white;
                color: white;
            }
            a.btn-default:hover {
                border-color: rgba(255,255,255,.7);
            }

            .list {
                margin-top:15px;
                a {
                    display: inline-block;
                    color: white;
                }
                a:not(:last-of-type){
                    margin-right: 15px;
                }
            }
        }
    }
}