<section class="header">
    <div class="container">
        <div class="message">
            <div class="head">
                <h1>Slamby Insight</h1>
                <p class="lead">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga alias, dicta sapiente molestias, voluptatem earum unde magnam recusandae! Voluptatum iure consectetur vitae, facere dicta ipsum sint deleniti dolor eligendi sequi.
                </p>
                <a href="https://insight.slamby.com" class="btn btn-default">Download</a>
                <div class="list">
                    <a href="https://instight.slamby.com/mac">Download for Mac</a>
                    <a href="https://instight.slamby.com/windows">Download for Windows</a>
                    <a href="https://instight.slamby.com/linux">Download for Linux</a>
                </div>
            </div>
        </div>
    </div>
</section>