.nav {
    background-color: transparent;
    z-index: 999999;
    li.active a {
        background-color: transparent !important;
    }
}

.nav.theme-default {
    a {
        color: black;
    }
}

.nav.theme-light {
    a {
        color: white;
    }
}

a.logo {
    font-family: slamby-logo;
    font-size: 17px;
}