<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs {{theme}}">
                <li role="presentation" [routerLinkActive]="['active']"><a [routerLink]="['/home']" class="logo">Slamby</a></li>
                <li role="presentation" [routerLinkActive]="['active']"><a [routerLink]="['/404']">404</a></li>
                <li role="presentation" [routerLinkActive]="['active']"><a [routerLink]="['/insight']">insight</a></li>
                <li role="presentation" [routerLinkActive]="['active']"><a [routerLink]="['/pricing']">pricing</a></li>
            </ul>
        </div>
    </div>
</div>