<div class="container">
    <div class="row">
        <ul class="nav nav-tabs">
            <li role="presentation" [routerLinkActive]="['active']"><a [routerLink]="['/home']">Home</a></li>
            <li role="presentation" [routerLinkActive]="['active']"><a [routerLink]="['/404']">404</a></li>
            <li role="presentation" [routerLinkActive]="['active']"><a [routerLink]="['/insight']">insight</a></li>
            <li role="presentation" [routerLinkActive]="['active']"><a [routerLink]="['/pricing']">pricing</a></li>
        </ul>
    </div>
</div>