<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">Kriszti Oldala ♥</h1>
            <h2>ღ</h2>
        </div>
    </div>
</div>

<section class="demo">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Hello World</h1>
            </div>
        </div>
    </div>
</section>

<section class="flower">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header">Hello World</h1>
            </div>
        </div>
    </div>
</section>

<section class="dog">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Hello Dog :)</h1>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <img src="/assets/images/dog.png" alt="">
    </div>
</section>