@import "_common";

body {
    @import url('https://fonts.googleapis.com/css?family=Libre+Franklin:100,300,400,500');
    font-family: 'Libre Franklin', sans-serif;
}

h1,h2,h3,h4 {
    font-weight: 300;
}

p {
    font-weight: 200;
}

p.lead {
    font-weight: 100;
}

.table {
    thead {
        th {
            font-weight: 400;
        }
    }
    td {
        font-weight: 300;
    }
}