<pm-header theme="theme-light"></pm-header>

<section class="header">
    <div class="container">
        <div class="message">
            <div class="head">
                <h1>A smart way to work</h1>
                <p class="lead">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam accusamus quia, illo unde voluptate voluptates saepe. Commodi, molestias nihil laudantium officia hic. Hic dignissimos recusandae ullam, error fugit, dolores tempore!
                </p>
                <a href="https://insight.slamby.com" class="btn btn-default">Download</a>
                <div class="list">
                    <a href="https://instight.slamby.com/mac">Download for Mac</a>
                    <a href="https://instight.slamby.com/windows">Download for Windows</a>
                    <a href="https://instight.slamby.com/linux">Download for Linux</a>
                </div>
                <div class="github">
                    <a href="https://github.com/slamby/slamby-insight" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>